<div id="<%= dom_id habitat_description %>">
  <p>
    <strong>Habitat type:</strong>
    <%= habitat_description.habitat_type %>
  </p>

  <p>
    <strong>Habitat description:</strong>
    <%= habitat_description.habitat_description %>
  </p>

</div>
