<div class='body'>

<h1>Animals</h1>

<div id="animals" class="scroll">
  <% @animals = @animals.sort{|a,b| a.search_name <=> b.search_name} %>
  <% @animals.each do |animal| %>
    <%= render animal %>


  <% end %>
</div>

</div>
